<section class="main-header">
  <div class="header">
  <p class="text-nowrap">今日の肴、</p>
  <p class="text-nowrap">何にする？</p>
</div>
</section>
<section class="intro">
  <p>うれしいことがあった日も、</p>
  <p>飲まないとやってられない時も、</p>
  <p>何もなかった一日でも、</p>
  <p>おうちで簡単に作って乾杯しよう</p>
</section>
<section class="container-fluid">
  <div cllass="row">
      <div class="col-md-4">
        <div class="main-contents-1">
          <p class="link"><%= link_to "さかなレシピをさがす",recipes_path, style:"color:#fff;" %></p>
      </div>
    </div>

        <div class="col-md-4">
          <div class="main-contents-2">
          <p class="link"><%= link_to "さかなについて",introductions_path, style:"color:#fff;" %></p>
      </div>
  </div>

        <div class="col-md-4">
          <div class="main-contents-3">
            <p class="link"><%= link_to "さかなレシピを投稿する", new_recipe_path, style:"color:#fff;" %></p>
          </div>
    </div>
  </div>

</section>
