%div.contaier
  %div.about
    %h1 さかなについて
    %div.row
      %h2 さかな（おつまみ）レシピが検索、閲覧できます。
      %p なんとなく見てもいいし、材料から探してもいい。
      今日の気分にぴったりのさかなを探してみてください。
    %div.row
      %h2 さかなレシピが投稿できます。
      %p  あなたのオリジナルレシピを投稿することができます。
      みんなに教えてあげよう！

    %div
      =image_tag "nomo.png", size: "200x200"
