h1{
  font-size: 28px;
  text-align: center;
}

.form-wrapper{
  background: #fafafa;
  padding: 10px;
  margin: 10px 0 auto;
  max-width: 350px;
}

.field{
  text-align: center;
  padding: 5px;
}

.btn{
  color: #f16272;
}
