h1{
  width: auto;
  font-size: 20px;
  padding: 20px;
}

.space{
  display: block;
  height: 50px;
}

.link-index{
  padding:20px;
}

.image-field{
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.gap{
  margin: 5px;
}
